@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,500;1,400&family=Press+Start+2P&family=Righteous&family=The+Nautigal:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ddd;
    background-color: #012340;
}

.title {
    font-family: "Montserrat", Helvetica, sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.37);
    margin-top: 15px;
    opacity: 80%;
}

.logo {
    font-size: 50px;
    margin-top: 50px;
}

.user {
    position: relative;
    right: 110px;
    top: 60px;

    opacity: 80%;
}

.lock {
    position: relative;
    right: 110px;
    top: 60px;

    opacity: 80%;
}

.email {
    position: relative;
    right: 110px;
    top: 60px;

    opacity: 80%; 
}

input {
    width: 250px;
    height: 50px;
    margin-top: 30px;
    outline: none;
    background-color: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: solid 1px white;
    font-size: 16px;
    color: #eee;
    letter-spacing: 1px;
    text-align: center;
}

.botao {
    width: 258px;
    height: 50px;
    outline: none;
    background-color: #ddd;
    border: solid 1px rgba(220, 220, 220, 0.521);
    border-radius: 20px;
    margin-top: 50px;
    color: rgba(0, 0, 0, 0.623);
    font-weight: bolder;
    font-size: 18px;
    cursor: pointer;
}

.forgot {
    margin: 20px;
    font-size: 14px;
    letter-spacing: 1px;
    opacity: 90%;
    cursor: pointer;
}

.login {
    margin-top: 50px;
    cursor: pointer;
}

a {
    color: #ddd;
    text-decoration: none;
}
